textarea {
    margin-top: 20px;
    height: 80%;
}

@media screen and (min-width: 600px) {
    #game-content {
        height: 600px;
    }
}

@media screen and (max-width: 600px) {
    #chat-content {
        height: 400px;
    }
    textarea {
        margin-top: 20px;
        height: 50%;
    }
}