.wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess {
  width: 480px;
  height: 480px;
}

.odd, .even {
  width: 12.5%;
  height: 12.5%;
  float: left;
}

.odd {
  background: white;
}

.even {
  background: black;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  
  .chess {
    width: 320px !important;
    height: 320px !important;
  }
}