.wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess {
  width: 480px;
}

.odd, .even {
  width: 60px;
  height: 60px;
  float: left;
}

.odd {
  background: white;
}

.even {
  background: black;
}