{% extends 'layout.html' %}

{% block head_js %}
    <!-- chat.js file -->
    <script src = "{{ url_for('static', filename='chat.js') }}" defer>
    </script>  
    <!-- chat.css file-->
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}

{% block content %}
    
    <!-- Main content -->
    <div class="row" id="main-content" style="margin-top: 20px;">
        <!-- game content-->
        <div class="border row col-md-9 boxlayout">
            {% block game_content %}{% endblock %}
        </div>

        <!-- chat -->
        <div class="border row col-md-3 boxlayout">
            <div id="chat">
                <div id="message"></div>
                <div id="text">
                  <textarea rows='1'></textarea>
                </div><br><br>
                <a href="#" onclick="leave_room();">Leave this room</a>
            </div>
        </div>
    </div>

{% endblock %}