{% extends 'layout.html' %}

{% block content %}

<div class='main'>
    <div class="win">
        <h4>Congratulations! You won!</h4>
        <a href='/'><button class='play'>Play again</button></a>
    </div>
    {% for i in range(height) %}
        <div class="line">
        {% for j in range(width) %}
            {% if i == 0 and j == 0 %}
                <div class="room curr_room" x="{{j}}" y="{{i}}"></div>
            {% else %}
                <div class="room" x="{{j}}" y="{{i}}"></div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}

    <div class="lose">
        <h4>Game Over!</h4>
        <a href='/'><button class='play'>Play again</button></a>
    </div>
    </div>

{% endblock %}