<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FlaskCheckers</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		{% block head_js %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">FlaskCheckers</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container text-center">
			<div class="row text-center">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
